


@{
    ViewBag.Title = "Create";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Create A New Role</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Roles", new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                Role name: @Html.TextBox("RoleName")
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        }

    </div> <!--End Panel Body-->
</div> <!--End Panel-->
