@model MVCProject_Arif.Models.Employee
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Employee Name:</b></td>
                    <td>@Model.EmployeeName</td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Cell Phone No:</b></td>
                    <td>@Model.CellPhone</td>
                </tr>
                <tr>
                    <td><b>Address :</b></td>
                    <td>@Model.Address</td>
                </tr>
            </table>
        </td>
    </tr>
</table>